<!DOCTYPE html>
%html{:lang => "ja"}
  %head
    %meta{:charset => "UTF-8"}/
    %title PORTOFOLIO
    %link{:rel => "stylesheet", :href => "./css/style.css"}/
  %body
    .wrapper
      %header.header
        .header__left
          .header__logo
            %a{:href => "/"}
              %img.logo{:src => "./images/main-title.svg", :alt => ""}/
        .header__right
          %ul.header__nav
            %li
              %a{:href => "/profile.html"}
                %img{:src => "./images/menu-profile.svg", :alt => "profile"}/
            %li
              %a{:href => "//ryosukemaehira.hatenablog.com/", :target => 'blanc'}
                %img{:src => "./images/menu-blog.svg", :alt => "blog"}/
            -# %li
            -#   %a{:href => ""}
            -#     %img{:src => "./images/menu-contact.svg", :alt => ""}/
      .page-portofolio#portofolio
        .page-inner.l-container
          %header.page-heading
            %h1 PROJECTS
          %section.section.section--web-portofolio
            .section__inner
              .section__heading
                %h2 Web-projects
              .section__contents
                %ul.list-card.portofolio__list
                  -# %li
                  -#   %img{:src => "./images/vr-ex-thumb.png", :alt => ""}/
                  -#   %h3
                  -#     TECH::EXPERT
                  -#     %br/
                  -#     Game engineer
                  -#   %p 未経験から3ヶ月でゲームエンジニアに必要なUnityのスキルを身につけゲーム業界へ就職するためのプログラム。
                  %li
                    %img{:src => "./images/droppa-thumb.png", :alt => ""}/
                    %h3 DROPPA
                    %p バックオフィスの仕事の効率化を支援するサービス。
                  %li
                    %img{:src => "./images/ruc-thumb.png", :alt => ""}/
                    %h3 RUC株式会社
                    %p RUC株式会社、コーポレートサイト。
                  %li
                    %img{:src => "./images/tsukkomi-thumb.png", :alt => ""}/
                    %h3
                      ツッコミ.me
                    %p 伝説の名ツッコミを投稿、共有する、極上の暇つぶし空間。
                  %li
                    %img{:src => "./images/thanks-thumb.png", :alt => ""}/
                    %h3 Thanks
                    %p 日々の感謝を投稿するSNS。毎日連続で投稿すると、つぼみに花が咲きます。
                  %li
                    %img{:src => "./images/tech-drill.png", :alt => ""}/
                    %h3 TechDRILL
                    %p あなたのプログラミングスキルを、一歩先へ。初心者向けプログラミング問題集。
    %footer.footer
      .footer__inner.text-center
        %p.footer__text copyright 2017 ryosukemaehira.com
        %a{:href => "//www.facebook.com/ryosuke.maehira?ref=br_rs", :target => 'blanc'}
          %i.fa.fa-facebook-official facebook
        %a{:href => "//twitter.com/tabi_ryosuke"}
          %i.fa.fa-twitter Twitter

